*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* FUNZIONALITÀ */
:root{
    --font-size-l: 3rem;

    --orange-1: #d8b802;
    --orange-2: #f29400;
    --orange-3: rgb(185, 86, 0);

    --light-gray: rgb(150,150,150);

    --square: 70px
}

/************************** effetti *********************************/
#element div:hover{
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

/*********************************************************************/
.wrapper{
    background-color: black;
    padding: 30px;
}

h1{
    text-align: center;
    color: #f29400;
    font-size: var(--font-size-l);
    margin-bottom: 50px;
}

#element{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#element div{
    width: var(--square);
    height: var(--square);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    border-radius: 50%;

    font-weight: 700;

    background-color: var(--bs-gray-300);
}

#element .FizzBuzz{
    background-color: var(--orange-3);
    color: white;

}

#element .Fizz{
    background-color: var(--orange-1);
    color: white;

}

#element .Buzz{
    background-color: var(--orange-2);
    color: white;

}